/* 
* COLOR PALETTES

* -- BLUE GRADIENT --
* hsl(194, 100%, 95%) - blue 1 (intro)
* hsl(194, 100%, 90%) - blue 2a (why-you)
* hsl(194, 100%, 85%) - blue 2b (why-you:hover)
* hsl(194, 100%, 80%) - blue 3a (why-me)
* hsl(194, 100%, 75%) - blue 3b (why-me:hover)
* hsl(194, 100%, 70%) - blue 4a (skills)
* hsl(194, 100%, 65%) - blue 4b (skills:hover)
* hsl(194, 100%, 60%) - blue 5a (contribution)
* hsl(194, 100%, 55%) - blue 5b (contribution:hover)
* hsl(194, 100%, 50%) - blue 6a (personal)
* hsl(194, 100%, 45%) - blue 6b (personal:hover)
* hsl(194, 100%, 15%) - blue 1 (footer)

* -- MULTI-PASTEL --
* #ED6A5A - red-orange
* #F4F1BB - tan
* #9BC1BC - blue-gray
* #E6EBE0 - off-white
* #36C9C6 - baby blue

* -- MULTI-BLUE --
* #3C659F - main background
* #DAE3E5 - light (panel 1 & 5 + main & footer text)
* #BBD1EA - mid
* #A1C6EA - dark
* #04080F - darkest (footer + panel text)
*/

/* Root Variable Declaration */
:root {
  --main-background: #bbd1ea;
  --main-text-color: #04080f;
  --panel-one: #dae3e5;
  --panel-one-hover: #bdcdd0;
  --panel-one-text: #04080f;
  --panel-two: #bbd1ea;
  --panel-two-hover: #96b8df;
  --panel-two-text: #04080f;
  --panel-three: #a1c6ea;
  --panel-three-hover: #76abe0;
  --panel-three-text: #04080f;
  --panel-four: #bbd1ea;
  --panel-four-hover: #96b8df;
  --panel-four-text: #04080f;
  --panel-five: #dae3e5;
  --panel-five-hover: #bdcdd0;
  --panel-five-text: #04080f;
  --footer: #04080f;
  --footer-text: #dae3e5;
  --body-font: "Montserrat", sans-serif;
  --fancy-font: "Caveat", cursive;
}

/* Global Styles */
body {
  font-family: var(--body-font);
  font-family: var(--body-font);
  font-size: 15px;
  line-height: 1.5;
  color: var(--main-text-color);
  background-color: var(--main-background);
}

h1,
h2,
h3 {
  font-family: var(--fancy-font);
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
}

p,
ul {
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 30px;
}

a {
  color: var(--main-text-color);
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

p.first {
  margin-top: 20px;
}

p.last {
  margin-bottom: 60px;
}

/* Expand/Collapse Button Styling */
#expand_collapse_button {
  /* Sticky */
  position: sticky;
  top: 20px;

  /* Display */
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  height: 50px;
  width: 90px;
  margin-top: 14px;
  margin-right: 20px;
  border: 2px solid var(--main-text-color);
  background-color: var(--panel-one);
  cursor: pointer;
  border-radius: 10px;

  /* Font */
  font-family: var(--body-font);
  font-weight: 600;
  font-size: 15px;
  line-height: 1.7rem;
  color: var(--main-text-color);
  text-align: center;
}

#expand_collapse_button:hover {
  background-color: var(--main-text-color);
  color: var(--main-background);
}

#expand_collapse_button:active {
  background-color: hsla(0, 0%, 0%, 0%);
  color: var(--main-text-color);
}

/* General Panel Styling */
/* Panel Background */
.panel {
  border: none;
}

/* Panel Headings */
.panel-heading {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 0;
}

/* Panel Title */
.panel-title {
  font-size: 45px;
  padding: 15px 0px;
  cursor: pointer;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.panel-title::after {
  content: "-";
  font-size: 45px;
  float: right;
}

.panel-title.collapsed::after,
.panel-title.initial::after {
  content: "+";
}

/* Panel Body */
.panel-body {
  padding: 0;
}

/* WHY YOU SECTION */
.why-you .panel-title {
  color: var(--panel-one-text);
}

.why-you .panel-heading {
  background-color: var(--panel-one);
}

.why-you .panel-heading:hover {
  background-color: var(--panel-one-hover);
}

.why-you .panel-heading + .panel-collapse .panel-body {
  border-top: none;
  background-color: var(--panel-one);
  color: var(--panel-one-text);
}

/* WHY ME SECTION */
.why-me .panel-title {
  color: var(--panel-two-text);
}

.why-me .panel-heading {
  background-color: var(--panel-two);
}

.why-me .panel-heading:hover {
  background-color: var(--panel-two-hover);
}

.why-me .panel-heading + .panel-collapse .panel-body {
  border-top: none;
  background-color: var(--panel-two);
  color: var(--panel-two-text);
}

/* SKILLS SECTION */
.skills .panel-title {
  color: var(--panel-three-text);
}

.skills .panel-heading {
  background-color: var(--panel-three);
}

.skills .panel-heading:hover {
  background-color: var(--panel-three-hover);
}

.skills .panel-heading + .panel-collapse .panel-body {
  border-top: none;
  background-color: var(--panel-three);
  color: var(--panel-three-text);
}

/* CONTRIBUTION SECTION */
.contribution .panel-title {
  color: var(--panel-four-text);
}

.contribution .panel-heading {
  background-color: var(--panel-four);
}

.contribution .panel-heading:hover {
  background-color: var(--panel-four-hover);
}

.contribution .panel-heading + .panel-collapse .panel-body {
  border-top: none;
  background-color: var(--panel-four);
  color: var(--panel-four-text);
}

/* PERSONAL NOTE SECTION */
.personal .panel-title {
  color: var(--panel-five-text);
}

.personal .panel-heading {
  background-color: var(--panel-five);
}

.personal .panel-heading:hover {
  background-color: var(--panel-five-hover);
}

.personal .panel-heading + .panel-collapse .panel-body {
  border-top: none;
  background-color: var(--panel-five);
  color: var(--panel-five-text);
}

/* Contact Info Styling */
footer {
  background: hsl(197, 93%, 9%);
  color: var(--footer-text);
}

footer .content-wrap {
  padding: 60px 0;
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
}

.contact-list {
  list-style-type: none;
  padding: 0;
}

.contact-list li {
  margin-left: 0;
  margin-right: 0;
}

.contact-list a {
  padding: 15px;
  display: inline-block;
  color: var(--footer-text);
  text-decoration: underline;
}

.contact-list a:hover {
  text-decoration: none;
}

/* Media Queries */
@media screen and (min-width: 750px) {
  footer {
    text-align: center;
  }

  .contact-list {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 749px) {
  h1 {
    line-height: 0.9;
    margin-bottom: 20px;
  }

  h2 {
    line-height: 1;
  }

  .contact-list a {
    padding: 5px;
  }
}
